{% extends "layouts/product.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        Services
      </h2>
    </div>
  </div>

  {% for batch in collections.all  | eleventyNavigation(options.homeKey) | batch(2) %}
    <div class="govuk-grid-row">
      {% for item in batch %}
        <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
            <a href="{{ item.url | url | pretty }}">{{ item.title }}</a>
          </h3>
          <p class="govuk-body">{{ item.excerpt }}</p>
        </section>
      {% endfor %}
    </div>
  {% endfor %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        Programme level design
      </h2>
    </div>

    <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        <a href="{{ "/cross-programme/running-a-cross-service-discovery" | url }}">Running a cross service discovery</a>
      </h3>
      <p class="govuk-body">Getting to the root of CPD's endemic problems</p>
    </section>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        Reference
      </h2>
    </div>

    <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        <a href="{{ "/glossary" | url }}">Glossary</a>
      </h3>
      <p class="govuk-body">A guide to terms used across the services</p>
    </section>
  </div>
{% endblock %}
